@page "/"
@using CVIServiceLibShared.Constants.Enums;



@inherits Container;


@{
    base.BuildRenderTree(__builder);
}


@code {
    public override RenderFragment RenderCorpoContainer()
    {
        return
    @<text>
        <MudPaper Elevation="0" Class="pa-3 ma-2">
            <MudOverlay LightBackground="true"
                    DarkBackground="false"
                    Absolute="true"
                    ZIndex="9999" Visible="@Loading">
                <MudProgressCircular Indeterminate="true" Color="Color.Primary" />
            </MudOverlay>
            <MudStack Row="true" AlignItems="AlignItems.Center" Justify="Justify.Center">
                <MudPaper Elevation="0">
                    <MudText Typo="Typo.h3">Consulta de Vagas</MudText>
                </MudPaper>
            </MudStack>

            <MudPaper Elevation="1" Class="pa-3 ma-2">
                <MudGrid Justify="Justify.Center" Class="align-content-center">
                    @if (Loading)
                    {
                        <MudItem>
                            <MudPaper Elevation="1" Height="100" Width="350">
                                <MudStack AlignItems="AlignItems.Center" Justify="Justify.Center" Row="false">
                                    <MudPaper Elevation="0">
                                        <MudSkeleton Animation="Animation.Wave" />
                                    </MudPaper>
                                    <MudPaper Elevation="0">
                                        <MudSkeleton Animation="Animation.Wave" />
                                    </MudPaper>
                                </MudStack>
                            </MudPaper>
                        </MudItem>
                    }
                    else
                    {
                        <MudItem xs="12">
                            <MudPaper Class="pa-3 ma-2" Elevation="25">
                                <MudStack Row="true">
                                    <MudGrid Justify="Justify.Center">
                                        <MudItem xs="3">
                                            <MudPaper Elevation="0">
                                                <MudSelect Label="Modalidade de Trabalho"
                                                   Margin="Margin.Dense"
                                                   Dense="true"
                                                   Variant="Variant.Outlined" @bind-Value="_modalidadeTrabalho" Text="@(_modalidadeTrabalho.ToString())">
                                                    @foreach (ModalidadeTrabalho item in Enum.GetValues(typeof(ModalidadeTrabalho)))
                                                {
                                                    <MudSelectItem Value="@item">@item.ToString()</MudSelectItem>
                                                }
                                            </MudSelect>
                                        </MudPaper>
                                    </MudItem>
                                    <MudItem xs="4">
                                        <MudPaper Elevation="0">
                                            <MudTextField @bind-Value="filtro" Label="Cargo,Cidade ou estado" Variant="Variant.Outlined" Margin="Margin.Dense"></MudTextField>
                                        </MudPaper>
                                    </MudItem>
                                    <MudItem xs="3">
                                        <MudPaper Elevation="0">
                                            <MudDatePicker Margin="Margin.Dense" Variant="Variant.Outlined" Label="Data de publicação" @bind-Date="date" />
                                        </MudPaper>
                                    </MudItem>
                                    <MudItem xs="2">
                                        <MudPaper Elevation="0">
                                            <MudChip Size="Size.Large" Icon="@Icons.Filled.Search" OnClick="@BuscarVaga" Color="Color.Tertiary">Buscar</MudChip>
                                        </MudPaper>
                                       
                                    </MudItem>
                                    <MudItem xs="4">
                                        <MudPaper Elevation="0">
                                            <MudStack AlignItems="AlignItems.Center" Justify="Justify.Center" Row="true">
                                                <MudChip Icon="@Icons.Filled.Accessible" Color="Color.Primary">Vagas para PCD</MudChip>
                                                <MudChip Icon="@Icons.Filled.WbIncandescent" Color="Color.Dark">Estágio e Trainee</MudChip>
                                                <MudChip Icon="@Icons.Filled.DisplaySettings" Color="Color.Info">Desenvolvedor</MudChip>
                                            </MudStack>
                                        </MudPaper>
                                    </MudItem>

                                </MudGrid>
                            </MudStack>
                        </MudPaper>
                    </MudItem>
                    }
                </MudGrid>
            </MudPaper>
        </MudPaper>
        <MudPaper Elevation="1" Class="pa-3 ma-2">
            <MudGrid Justify="Justify.Center" Class="align-content-center" Spacing="2">
                @if (!Loading)
                {
                    <MudItem xs="8">
                        <MudExpansionPanels MultiExpansion="true" Elevation="1">
                            <MudPaper Elevation="3" Class="pa-3 ma-2">
                                <MudExpansionPanel Dense="true" IsExpanded="true" HideIcon="true">
                                    <TitleContent>
                                        <MudStack Justify="Justify.SpaceBetween" Row="true">
                                        <div class="d-flex flex-column align-center">
                                            <MudText Typo="Typo.h5" Class="px-4; mt-1"> <b> Vagas </b>de emprego</MudText>
                                            <MudText Typo="Typo.body1" Class="px-4; mt-1"><b>@Enitties.Count().ToString()</b> oportunidades para você.</MudText>
                                            </div>
                                            <MudIconButton DisableElevation="true" Disabled="true" Icon="@Icons.Material.Filled.Add" />
                                        </MudStack>
                                        <MudDivider Class="my-2" />
                                    </TitleContent>
                                    <ChildContent>
                                        @if (@Enitties is not null)
                                        {
                                            @foreach (var item in @Enitties)
                                            {
                                                <MudPaper Elevation="0" Width="100%">
                                                    <CVICardVagas VagaResponse="@item" />
                                                </MudPaper>
                                            }
                                            //<MudStack AlignItems="AlignItems.Start" Justify="Justify.Center" Row="false">
                                            //    <MudPaper Elevation="1" Width="100%">
                                            //        <CVICardVagas VagaResponse="Enitty" />
                                            //    </MudPaper>
                                            //</MudStack>
                                        }
                                    </ChildContent>

                                </MudExpansionPanel>
                            </MudPaper>
                        </MudExpansionPanels>
                    </MudItem>


                }
                else
                {
                    <MudItem xs="8">
                        <MudExpansionPanels MultiExpansion="true" Elevation="0">
                            <MudExpansionPanel Text="Dense" Dense="true">
                                <MudStack AlignItems="AlignItems.Start" Justify="Justify.Center" Row="false">
                                    <MudSkeleton Animation="Animation.Wave" />
                                    <MudSkeleton Animation="Animation.Wave" />
                                    <MudSkeleton Animation="Animation.Wave" />
                                    <MudSkeleton Animation="Animation.Wave" />
                                    <MudSkeleton Animation="Animation.Wave" />
                                    <MudSkeleton Animation="Animation.Wave" />
                                </MudStack>
                            </MudExpansionPanel>
                        </MudExpansionPanels>
                    </MudItem>
                    <MudItem xs="3">
                        <MudSkeleton Animation="Animation.Wave" />
                        <MudSkeleton Animation="Animation.Wave" />
                        <MudSkeleton Animation="Animation.Wave" />
                    </MudItem>
                }
            </MudGrid>
        </MudPaper>

    </text>
        ;
    }
}
