@inherits ComponentBase;


    <MudAppBar Elevation="1">
        <MudSpacer />
        <MudImage Src="https://www.canalpedroemanuel.com/wp-content/uploads/2022/11/logo-curriculo-inteligente-1.png"
              Height="45" Width="200" Elevation="25" Class="rounded-lg" />
        <MudSpacer />    
        <MudMenu Color="Color.Primary">
             <ActivatorContent>
                <MudAvatar Image="@ImagePerfil" />
             </ActivatorContent>
             <ChildContent>
            <MudMenuItem Icon="@Icons.Filled.PersonPin" Href="/conta" Disabled="true">Editar Conta</MudMenuItem>
            </ChildContent>
        </MudMenu>
     </MudAppBar>
<div style="height: 100vh; width:100%; margin-top:64px; padding:0px 0px 0px 0px;" >
     <MudPaper Elevation="2"  >
            <MudStack Row="true">
            <MudButtonGroup Color="Color.Primary" Variant="Variant.Outlined">
                <MudButton Href="/Conta">
                <MudPaper Class="pa-3 ma-2" Elevation="2">
                    <MudIcon Icon="@Icons.Filled.Badge" Size="Size.Large" />
                    <MudText>Conta</MudText>
                </MudPaper>
            </MudButton>
                <MudButton Href="/Conta">
                    
                        <MudIcon Icon="@Icons.Filled.Badge" Size="Size.Large" />
                        <MudDivider />
                        <MudText>Conta</MudText>
                   
                </MudButton>
                <MudButton Href="/Conta">
                    
                    <MudIcon Icon="@Icons.Filled.Badge" Size="Size.Large" />
                    <MudText>Conta</MudText>
                </MudButton>
            </MudButtonGroup>
            
          
                <MudSpacer />
            
            </MudStack>
           
         
     </MudPaper>
   
</div>

@code {
   
}
